.carouselContainer {
	display: flex;
	height: 20vw;
	width: 100%;
}

h3 {
	font-family: 'Secular One', sans-serif;
	font-size: 2vw;
	text-shadow: 5px 2px 6px rgba(0, 0, 0, 1);
	padding-bottom: 15vw;
}

@media (max-width: 1200px) {
	.carouselContainer {
		height: 30vw;
	}
	h3 {
		padding-bottom: 5vw;
		font-size: 3vw;
	}
}

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Road+Rage&display=swap");
